<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/ele.css">
    <script src="./js/loadcommonjs.js"></script>
</head>
<body>
<div id="loginMain">
    <div class="main">
        <div class="title">修改密码</div>
        <div class="subTitle"></div>
        <div class="info">
            <form @submit.prevent="submitLogin">
                <input type="password" placeholder="旧密码" v-model="oldPassword">
                <input type="password" placeholder="新密码" v-model="password1">
                <input type="password" placeholder="确认密码" v-model="password2">

                <input v-if="!loading" type="submit" class="submit" value="确认修改">
                <input v-if="loading" type="submit" class="submit" disabled value="操作中...">

            </form>
        </div>
    </div>

    <div class="box">
        <div class="mobile_header">
            <div class="user_images"></div>
            <div class="header_text"></div>
        </div>
        <div class="mobile_main clf">
            <div class="main_title clf">
                <p>忘记密码</p>
            </div>
            <div class="main_login">
                <form @submit.prevent="submitLogin">
                    <input type="password" placeholder="旧密码" v-model="oldPassword">
                    <input type="password" placeholder="新密码" v-model="password1">
                    <input type="password" placeholder="确认密码" v-model="password2">
                    <input v-if="!loading" type="submit" class="submit" value="确认修改">
                    <input v-if="loading" type="submit" class="submit" disabled value="操作中...">
                </form>
            </div>
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>
<script>
    new Vue({
        el: '#loginMain',
        data: {
            loading: false,
            userinfo: {},
            oldPassword: '',
            password1: '',
            password2: ''
        },
        mounted: function () {
            const u = getCookie('userinfo')
            if (u ==undefined || u =='') {
                location.href = "login.html"
                return
            } else {
                this.userinfo = JSON.parse(u)||{}
            }
        },
        methods: {
            submitLogin: function () {
                const that = this;
                if (this.oldPassword == "") {
                    this.$message({
                        message: '旧密码不能为空',
                        type: 'error'
                    });
                    return
                }

                if (this.password1.length < 6) {
                    this.$message({
                        message: '新密码不能少于6个字符',
                        type: 'error'
                    });
                    return
                }

                if (this.password1 !== this.password2) {
                    this.$message({
                        message: '确认密码不一致',
                        type: 'error'
                    });
                    return
                }

                this.loading = true

                POST("/api/changePassword", {
                    username: this.userinfo.username,
                    oldPassword: CryptoJS.enc.Base64.stringify(CryptoJS.enc.Utf8.parse(this.oldPassword)),
                    password: CryptoJS.enc.Base64.stringify(CryptoJS.enc.Utf8.parse(this.password1))
                }).then(data => {
                    that.loading = false
                    if (data.status !== 'ok') {
                        that.$message({
                            message: data.message,
                            type: 'error'
                        });
                    } else {
                        setCookie("token", "")
                        setCookie("userinfo", "")
                        that.$message({
                            message: "修改成功",
                            type: 'success'
                        });
                        setTimeout(function () {
                            location.href = "login.html"
                        }, 1000)

                    }
                })
            },
        }
    })

</script>

</body>
</html>
